.vis-timeline {
    border: 0px solid purple;
    font-family:  'system-ui';
    font-size: 12pt;
    background: white;
  }

  .vis-item {
    border-color: black;
    background-color: white;
    box-shadow: 3px 3px 3px rgba(128,128,128, 0.5);
    margin:0px;
    padding:0px;
  }

  .vis-item,
  .vis-item.vis-line {
    border-width: 2px;
    /* 2 looks cool */
  }

  .vis-item.vis-dot {
    border-width: 10px;
    border-radius: 10px;
  }

  .vis-item.vis-selected {
    border-color: orange;
    background-color: white;
  }

  .vis-time-axis .vis-text {
    color: black;
    padding-top: 10px;
    padding-left: 10px;
  }

  .vis-time-axis .vis-text.vis-major {
    font-weight: bold;
  }

  .vis-time-axis .vis-grid.vis-minor {
    border-width: 1px;
    border-color: lightgrey;
  }

  .vis-time-axis .vis-grid.vis-major {
    border-width: 2px;
    border-color: grey;
  }
